# ¡¡¡NOMBRAR EL ARCHIVO: .env!!!
ENVIRONMENT=prod

# Usar datos host base
POSTGRES_USER=your_aiven_user
POSTGRES_PASSWORD=your_aiven_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=your_aiven_host.aivencloud.com
POSTGRES_PORT=5432

PORT=8080

JWT_SECRET_KEY=cambiarporunoseguro

# Cambiar a futuro por servicio de almacenamiento (esto es temporal)
UPLOAD_DIR=/app/uploads

ALLOWED_ORIGINS=["https://tu-dominio.com", "https://www.tu-dominio.com"]

DIAS_PAPELERA=30

# Pool conexiones
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=3600
